frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel
frontend/.env*.local
frontend/.env*.development
frontend/.env*.production
frontend/next-env.d.ts
frontend/*.tsbuildinfo


backend/__pycache__/
backend/*.py[cod]
backend/$py.class
backend/*.so
backend/.venv/
backend/venv/
backend/env/
backend/ENV/
backend/.env          
backend/.python-version


.idea/
__sublime__/

.docker/
docker-compose.override.yml